<h3>Home</h3>

<nav>
    <button class="btn btn-info py-2 mr-2 position-relative">
        Basket:
        <i class="bi bi-cart4"></i>
        <span class="badge badge bg-success rounded-100 btn border position-absolute">!</span>
    </button>
    <button class="btn btn-info d-md-none py-2 mr-2">
        <i class="bi bi-list"></i>
    </button>
</nav>

@code {

}
